// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.caja{
  box-sizing: content-box;
  position: relative;
  padding-bottom: 35px;
  padding-left: 10px;
  left: 230px;
  top: 40px;
  //bottom: 40px;
  margin-left: 110px;
  margin-bottom: 25px;
  //height: 20vw;
  width: 45vw;
  box-shadow: 7px 25px 25px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
  background-color: lightsteelblue;
}

.card{
  box-sizing: border-box;
  position: absolute;
  align-self: center;
  top: 85px;
  left: 300px;
  bottom: 100px;
  margin-left: 110px;
  height: 22vw;
  width: 35vw;
  box-shadow: 0px 35px 35px 10px rgba(153,153,153,0.5);
  border-radius: 8px;
  background-color: lightseagreen;
}

.show_card{
  box-sizing: border-box;
  position: absolute;
  align-self: center;
  top: 60px;
  left: 300px;
  bottom: 100px;
  margin-left: 110px;
  height: 38vw;
  width: 35vw;
  box-shadow: 0px 25px 25px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
  background-color: peachpuff;
}

.title_2 {
  position: relative;
  left: 40px;
  top: 20px;
  text-align: left;
  font-family: "Calibri Light";
  font-weight: bold;
  font-size: x-large;
  color: darkslategray;
}



.title_4 {
  position: relative;
  left: 50px;
  top: 20px;
  text-align: left;
  font-family: 'open sans', Sans-Serif;
  font-size: medium;
  color: darkslategrey;
}

.title_5 {
  position: relative;
  left: 50px;
  top: 30px;
  text-align: left;
  font-family: 'open sans', Sans-Serif;
  font-size: medium;
  color: darkslategray;
}

.title_6 {
  position: relative;
  left: 45px;
  top: 40px;
  text-align: left;
  font-family: 'open sans', Sans-Serif;
  font-size: x-large;
  font-weight: bolder;
  color: darkslategray;
}

.title_7 {
  position: absolute;
  left: 41px;
  top: 280px;
  text-align: left;
  font-family: 'open sans', Sans-Serif;
  font-size: medium;
  color: darkslategray;
}

.title_8 {
  position: relative;
  left: 45px;
  top: 32px;
  text-align: left;
  font-family: 'open sans', Sans-Serif;
  font-size: small;
  color: darkslategray;
}

.form_comment{
  position: absolute;
  left: 40px;
  top: 320px;

}

.boton2{
  position: absolute;
  left: 87px;
  top: 350px;

}


.form_label{
  position: relative;
  left: 115px;
  top: 40px;
  font-family: "Calibri Light";
  font-size: large;
  color: #222222;

}

.form_label2{
  position: relative;
  left: 70px;
  top: 40px;
  font-family: 'open sans', Sans-Serif;
  font-size: large;
  color: #222222;

}

.form_text{
  display:  inline-grid;
  position: relative;
  box-shadow: 0px 5px 5px 0px rgba(153,153,153,0.5);
  box-sizing: content-box;
  height: 20px;
  //background-color: white;
  left: 165px;
  top: 20px;
}

.form_duration{
  position: relative;
  left: 165px;
  top: 8px;
}

.boton{
  position: relative;
  //display: block;
  //box-sizing: content-box;
  //border-radius: 4px;
  //background-color: lightseagreen;
  left: 240px;
  top: 18px;
  //text-align: center;
  font-family: "Calibri Light";

}

.title_1 {
  position: relative;
  left: 85px;
  top: 25px;
  text-align: left;
  font-family: "Calibri Light";
  font-size: x-large;
  color: #222222;
}

.action-act {
  display: inline-block;
  position: relative;
  left: 330px;
  top: 2px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 13px;
  //width: 120px;
  //height: auto;
  font-size:  1em;
  font-family: "Calibri Light";
  box-shadow: 0px 10px 10px 0px rgba(153,153,153,0.5);
  text-align: center;
  border: 0px;
  background-color: #00A5D2;
}

a:link{
  text-decoration: none;
}

.action-act:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}

.action-home {
  display: inline-block;
  position: relative;
  left: 345px;
  top: 2px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 29px;
  //width: 90px;
  //height: auto;
  font-size: 1em;
  font-family: "Calibri Light";
  box-shadow: 0px 10px 10px 0px rgba(153,153,153,0.5);
  text-align: center;
  border: 0px;
  background-color: #00A5D2;
}


.action-home:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}

.action-home-2 {
  display: block;
  position: absolute;
  left: 195px;
  top: 420px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 10px;
  width: 100px;
  height: auto;
  font-size: 1em;
  font-family: "open sans", Sans-Serif;
  box-shadow: 0px 10px 10px 0px rgba(153,153,153,0.5);
  text-align: center;
  border: 0px;
  background-color: linen;
}


.action-home-2:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}

.action-log {
  display: block;
  position: absolute;
  left: 320px;
  top: 420px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 10px;
  width: 100px;
  height: auto;
  font-size: 1em;
  font-family: "open sans", Sans-Serif;
  box-shadow: 0px 10px 10px 0px rgba(153,153,153,0.5);
  text-align: center;
  border: 0px;
  background-color: linen;
}

.action-log:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}
.action-back {
  display: block;
  position: relative;
  left: 50px;
  top: 40px;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 7px 7px;
  width: 80px;
  height: auto;
  font-size: 1em;
  font-family: 'open sans', Sans-Serif;
  box-shadow: 3px 5px 5px 0px darkslategrey;
  text-align: center;
  border: 0px;
  background-color: lightsteelblue;
}


.action-back:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}

.action-table{
  display: inline-block;
  position: relative;
  left: -5px;
  border-radius: 4px;
  width: 85px;
  height: auto;
  font-size: small;
  font-family: "Calibri Light";
  box-shadow: 0px 3px 3px 0px rgba(153,153,153,0.5);
  text-align: center;
  border: 0px;
  background-color: #00A5D2;
}

.action-comments{
   display: inline-block;
   position: relative;
   left: 5px;
   border-radius: 4px;
   width: 85px;
   height: auto;
   font-size: small;
   font-family: "Calibri Light";
   box-shadow: 0px 3px 3px 0px rgba(153,153,153,0.5);
   text-align: center;
   border: 0px;
   background-color: #00A5D2;
 }

.action-activity{
  display: inline-block;
  position: relative;
  left: 10px;
  border-radius: 4px;
  width: 105px;
  height: auto;
  font-size: .9em;
  font-family: "Calibri Light";
  letter-spacing: 2px;
  box-shadow: 0px 3px 3px 0px rgba(153,153,153,0.5);
  //text-align: center;
  border: 0px;
  background-color: #00A5D2;
}

.action-activity:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}

.action-table:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}

.action-comments:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}

.tabla{
  width: 100%;
  height: auto;
  text-align: center;
  //font-size: 1em;
  font-family: "Calibri Light";

}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.th{
  font-weight: normal;
  //font-size: em;

}

.td{
  font-weight: lighter;
}