// Place all the styles related to the entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.log{
  box-sizing: content-box;
  position: relative;
  padding-top: 5px;
  padding-bottom: 35px;
  padding-left: 10px;
  //padding-right: 0px;
  left: 230px;
  top: 40px;
  //bottom: 40px;
  margin-left: 110px;
  margin-bottom: 25px;
  //height: 20vw;
  width: 42vw;
  box-shadow: 10px 25px 25px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
  background-color: #d98cb3;
}

.title_9{
  position: relative;
  left: 18px;
  top: -5px;
  font-family: "Calibri Light";
  font-size: x-large;
  //box-shadow: 2px 3px 3px 0px gray;
  //text-align: left;

}

.action-ho{
display: block;
position: absolute;
left: 452px;
top: 33px;
box-sizing: border-box;
border-radius: 3px;
padding: 5px 17px;
//width: 90px;
//height: auto;
font-size: .8em;
font-family: "Calibri Light";
box-shadow: 3px 3px 3px 0px grey;
text-align: center;
border: 0px;
background-color: #d65cad;
}


.action-ho:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}


.action-entry{
  display: block;
  position: absolute;
  left: 345px;
  top: 33px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 4px 17px;
  //width: 90px;
  //height: auto;
  font-size: .8em;
  font-family: "Calibri Light";
  box-shadow: 3px 3px 3px 0px grey;
  text-align: center;
  border: 0px;
  background-color: #d65cad;
}


.action-entry:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}



.bloque{
  display: block;
  //bottom: 10px;
  position: relative;
  left: 10px;
  //margin-top: 1px;
  border-radius: 2px;
  width: 500px;
  height: 3vw;
  font-size: medium;
  font-family: "Calibri Light";
  box-shadow: 2px 3px 3px 0px darkslategrey;
  text-align: left;
  background-color: ghostwhite;
}

.bloque:hover{

  background-color: #ecc6d9 ;
  //text-color: ghostwhite;
  //box-shadow: 2px 3px 3px 0px darkslategrey;
  //color: darkslategray;
}



.act-name{
  //display: inline;
  position: absolute;
  left: 40px;
  top: 5px;
  font-family: "Calibri Light";
  text-transform: capitalize;
  font-weight: normal;
  font-style: italic;
  font-size: large;

}

.duration{
  //display: inline;
  position: absolute;
  left: 125px;
  top: 12px;
  font-family: "Calibri Light";
  //text-transform: capitalize;
  font-size: small;

}

.comments{
  //display: inline;
  position: absolute;
  left: 215px;
  top: 10px;
  font-family: "Calibri Light";
  text-transform: capitalize;
  text-decoration: underline;
  font-size: .8em;

}

.delete{
  //display: inline;
  position: absolute;
  left: 295px;
  top: 10px;
  font-family: "Calibri Light";
  text-transform: capitalize;
  text-decoration: underline;
  font-size: .8em;

}



.date {

  position: absolute;
  left: 375px;
  top: 16px;
  font-family: "Calibri Light";
  //text-align: left;
  //text-transform: capitalize;
  font-size: x-small;

}

.hora {
  position: absolute;
  left: 58px;
  top: 2px;
  font-family: "Calibri Light";
  //text-align: left;
  //text-transform: capitalize;
  font-size: xx-small;

}


.new_card{
  box-sizing: content-box;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 155px;
  padding-left: 10px;
  //padding-right: 0px;
  left: 240px;
  top: 60px;
  //bottom: 40px;
  margin-left: 110px;
  margin-bottom: 25px;
  //height: 20vw;
  width: 42vw;
  box-shadow: 10px 25px 25px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
  background-color: #e0a86b;
}

.entry_title{
  position: absolute;
  left: 60px;
  top: 15px;
  font-family: "Calibri Light";
  font-size: x-large;
  color: #222222;

}


.act-name-2{
  position: relative;
  left: 50px;
  top: 105px;
  font-family: "Calibri Light";
  font-style: italic;
  text-transform: capitalize;
  letter-spacing: .1em;
  font-size: 2.5em;
  font-weight: initial;
  color: #222222;

}



.form_label_duration{
  position: absolute;
  left: 300px;
  top: 100px;
  font-family: "Calibri Light";
  font-size: medium;
  color: #222222;

}

.form_text_duration{
  position: absolute;
  left: 300px;
  top: 130px;

}


.form_label_comments{

  position: absolute;
  left: 300px;
  top: 180px;
  font-family: "Calibri Light";
  font-size: medium;
  color: #222222;

}

.form_text_comments{

  position: absolute;
  left: 300px;
  top: 210px;

}

.boton3{

  position: absolute;
  left: 300px;
  top: 250px;

}

.comments_card{
  box-sizing: content-box;
  position: absolute;
  padding-top: 5px;
  padding-bottom: 155px;
  padding-left: 10px;
  //padding-right: 0px;
  left: 240px;
  top: 60px;
  //bottom: 40px;
  margin-left: 110px;
  margin-bottom: 25px;
  //height: 20vw;
  width: 42vw;
  box-shadow: 10px 25px 25px 0px rgba(153,153,153,0.5);
  border-radius: 4px;
  background-color: #9679b2;
}

.title_11{
  position: absolute;
  left: 50px;
  top: 0px;
  font-family: "Calibri Light";
  font-size: 2.5em;
  letter-spacing: 12px;
  text-transform: capitalize;
  font-style: italic;
  //box-shadow: 2px 3px 3px 0px gray;
  //text-align: left;

}

.title_12{
  position: relative;
  left: 100px;
  top: 95px;
  font-family: "Calibri Light";
  font-size: 1.5em;
  //letter-spacing: 8px;
  text-transform: capitalize;
  //font-style: italic;
  //box-shadow: 2px 3px 3px 0px gray;
  //text-align: left;

}

.title_13{
  position: relative;
  left: 115px;
  top: 85px;
  font-family: "Calibri Light";
  font-size: 1.2em;
  //letter-spacing: 8px;
  text-transform: capitalize;
  //font-style: italic;
  //box-shadow: 2px 3px 3px 0px gray;
  //text-align: left;

}

.action-comments-back{
  display: block;
  position: absolute;
  left: 412px;
  top: 37px;
  box-sizing: border-box;
  border-radius: 3px;
  padding: 7px 18px;
  //width: 90px;
  //height: auto;
  font-size: .8em;
  font-family: "Calibri Light";
  box-shadow: 3px 3px 3px 0px grey;
  text-align: center;
  border: 0px;
  background-color: #aa5aa5;
}

.action-comments-back:hover{
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}