
// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  /*font-family: 'Open Sans', sans-serif;
  color: #222;*/
  background-image: url("background_2.jpg");
  //background-repeat: no-repeat;
  //background-size: cover;
  max-width: 100%;
  max-height: 100vh;
  margin: auto;
}

#home {
  display: block;
  position: absolute;
  //height: 100%;
  //width: 100%;
  //background-color: white;

  //background: linear-gradient(to bottom, white, floralwhite)
}

/*.top {
  height: 20%;
  #width: auto;
  #background-color: #b2b2b2;
}*/





.logo {
  //display: inline-block;
  position: absolute;
  left: 60px;

}

.title {
  //display: inline-block;
  position: relative;
  //margin: 700px;
  right: -710px;
  top: 50px;
  //text-align: right;
  font-family: "Calibri Light";
  //-webkit-font-smoothing: antialiased;
  font-weight: 100;
  font-style: italic;
  font-size: xx-large;
  color: darkslategray;
}

.menu {
  display: inline-block;
  position: absolute;
  top: 170px;
  left: 0px;
  border-radius: 7px;
  margin-left: 20px;
  box-shadow: 0px 1px 1px 0px rgba(153,153,153,0.5);
  border: 0px solid #ddd;
  padding: 10px 12px;
  height: 15vw;
  width: 250px;
  background-color: whitesmoke;
}

//.center {
//  display: inline-block;
//  position: absolute;
//  border-radius: 10px;
//  left: 330px;
//  top: 168px;
//  box-shadow: 0px 10px 10px 0px rgba(153,153,153,0.5);
//  border: 0px solid #ddd;
//  height: 28vw;
//  width: 70vw;
//  background: linear-gradient(to top left, white, ghostwhite);
//  //background-color: ghostwhite;
//}

.message {
  position: relative;
  //margin: 700px;
  left: 490px;
  top: 130px;
  text-align: left;
  font-family: "Calibri Light";
  font-weight: 100;
  line-height: 2em;
  font-style: italic;
  font-weight: normal;
  font-size: large;
  color: darkslategray;
}

.action {
  display: block;
  box-sizing: border-box;
  border-radius: 8px;
  width: 100%;
  height: 38px;
  font-size: 1.3em;
  font-family: "Calibri Light";
  box-shadow: 0px 5px 5px 0px rgba(153,153,153,0.5);
  font-weight: normal;
  text-align: center;
  border: 0px solid #ddd;
  background-color: lightskyblue;
}

a:link{
  text-decoration: none;
}

.action:hover {
  background-color: white;
  cursor: pointer;
  color: darkslategray;
}


