
<div class="caja">
  <div></div>
<h1 class="title_1">Select an activity</h1>

<button class="action-act"><a><%= link_to 'New activity', new_activity_path %></a></button>
  <button class="action-home"><a><%= link_to 'Home', welcome_index_path %></a></button>
<p></p>

<table class="tabla">
  <tr>
    <th>Activity</th>
    <th>Options</th>
    <th></th>
  </tr>

  <% @activities.each do |activity| %>
    <tr>
      <tc><td><button class="action-activity"><a><%= link_to activity.title, new_activity_entry_url(activity)%></a></button></td></tc>


<!--      <tc><td><button class="action-table"><a><%#= link_to 'Delete', activity_path(activity),  method: :delete, data: {confirm: 'Are you sure?'} %></a></button>-->

      <tc><td>
      <span class="options"> <button class="action-comments"><a><%= link_to 'Edit' , edit_activity_path(activity)%></a></button>
    </span></td>
      </tc>
    </tr>



<!--      <td><%#= activity.datetime %></td>-->






  <% end %>
</table>
</div>