<div class="show_card">
<p class="title_4">
  <strong>Title:</strong>
  <%= @activity.title %>
</p>

<!--<p class="title_5">-->
<!--  <strong>Duration:</strong>-->
  <%#= @activity.duration %>
<!--</p>-->


<!--<h2 class="title_6">Comments:</h2>-->
<%# @activity.entries.each do |entry| %>
<!--  <p class="title_8">-->
  <%#= @entry.comments %>
    <%# end %>
<!--  </p>-->
<%#	 end %>

<!--<h2 class="title_7">Add a comment:</h2>-->
<%#= form_with(model: [@activity, @activity.comments.build], local: true) do |form| %>
<!--  <p>-->

<!--    <div class="form_comment"> <%#= form.text_area :body %></div>-->
<!--  </p>-->

<!--  <p class="boton2">-->
    <%#= form.submit %>
<!--  </p>-->
<%# end %>

  <button class="action-home-2"><a><%= link_to 'Home', welcome_index_path %></a></button>
  <button class="action-log"><a><%= link_to 'Activity log', activities_path %></a></button>

</div>

