
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tracker Home</title>
  <link rel='stylesheet' type='text/css' href='/welcome.scss'>

</head>

<body>

  <div id="home">

    <div class="logo"><%= image_tag("tracker_logo.png", :alt => "logo"  ) %></div>

  <h2 class="title"> Welcome to the Tracker app</h2>

  <div class="menu">

   <p  class="action-1"><a><%= link_to 'New Activity', new_activity_path %></a></p>

    <p  class="action-2"><a><%= link_to 'Add Entry', activities_path %></a></p>

    <p  class="action-3"><a><%= link_to 'Activity Log', 'entries/index'  %></a></p>



  </div>

    <div class="center">
    <p class="message"> This app is designed to encourage a healthier lifestyle. Now you can keep <br>
      track of your good habits (reading, running, swimming).  You can register <br>  new activities,
      a desired daily duration and visit your activity log anytime <br> you want.
      <br> <br>
      Thank you for using the tracker app

    </p>
    </div>


  </div>

</body>